/* Importing Fonts:  */
@font-face {
  font-family: "Basic";
  src: url("/Basic-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Cutesy";
  src: url("/LxgwWenKaiMonoLatin-Light.ttf") format('truetype');

}
@font-face {
  font-family: "Logo";
  src: url("/simsunb.ttf") format('truetype');

}


/* Header and Footer:  */
header {
     background-image:  url(bg2.png);
    background-color: AliceBlue;
    font-family: "Basic";
    text-align: left;
    color: black;
    opacity: 0.7;



}

footer {
  background-color: #000;
  padding: 10px;
  text-align: center;
  color: white;
}

section{
background-color: black;
border-color: black;
/* border-size: 10px;  */
padding: 0px;


}

/* Body:  */
leftside{
background-color: White;
font-family: "Logo";
border-color: black;
border-size: 10px;
float: left;

}
center{
background-color: black;
font-family: "Logo";
opacity: : 0.2;
border-color: black;
border-size: 10px;
float: center;
color: white;

}
rightside{
background-color: AliceBlue;
border-color: black;
border-size: 10px;
float: right;

}

.dropdown {
  position: relative;
  display:block;
}

.menubutton {
  text-decoration:  None;
  font-size: 20px;
  position: relative;
  display: block;
  background-color: Black;
  opacity: 1;
  border-color: none;
  color: #00ccff;
  padding: 10px;
  box-shadow: none;
  border: none;
}
.menubutton:hover{
  position: relative;
  opacity: .5;
  display: sblock;
  color: white;
  padding: 10px;
  border-color: None;

}

.menudropdown-content {
  display: None;
  position: relative;
  background-color: #f1f1f1;
  min-width: 200px;
   padding: 12px 16px;
  z-index: 1;
}



.dropdown:hover .menudropdown-content
{
  display: block;

}










</

/* Navigation:  */
nav {
  font-family: "Basic";
  float: left;
  width: 20%;
  border-width: 10px;
  border-color: black;
  height: 300px; /* only for demonstration, should be removed */
  background: AliceBlue;
  padding: 10px;
  list-style-type: none;
  text-align: left;
}


body {
    font-weight: normal;
    font-style: normal;
    float: center;
    font-family: Cutesy;
}
